<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Names!</title>

    <!-- Bootstrap -->
      {% load static %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="/Users/margaretsheridan/Desktop/Marcus/Wanderu/django_practice/mysite/mysite/static/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
<div class="container">
    <div class="page-header">
         <h1>So it's <strong>{{ start|title }}</strong> names you want?</h1>
    </div>

    <div class="jumbotron">

        <h2>I made up {{ names|length }} of them!</h2>
        <p>The names below are ordered by increasing ridiculousness (maybe, sort of).</p>
        <p>Have fun!</p>


    </div>
{% if names %}
    <ul class="list-group">
        {% for name in names %}
        <a class="list-group-item list-group-item-info" href="#">{{ name.name }}
            <span class="badge">{{ name.p }}</span>
        </a>
        {% endfor %}
    </ul>
{% else %}
    <p>No names matched your search criteria.</p>
{% endif %}
 </div>

</body>
</html>

